<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135416020443-engjuq4bfnupmesdn35e1p00kn24mntm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135416020443-engjuq4bfnupmesdn35e1p00kn24mntm</string>
	<key>API_KEY</key>
	<string>AIzaSyDatYph9tNXwMLRo6q9kIeJCEMQjkuExKk</string>
	<key>GCM_SENDER_ID</key>
	<string>135416020443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ad2</string>
	<key>PROJECT_ID</key>
	<string>newpro-61c26</string>
	<key>STORAGE_BUCKET</key>
	<string>newpro-61c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135416020443:ios:53fe908cff757edfe27bfe</string>
</dict>
</plist>